@import '../styles.scss';

.pages-container {
  height: fit-content;
  min-height: 100vh;
  margin: 0;
  margin-top: 70px;
  padding-top: 20px;
  padding-left: $page-padding;
  padding-right: $page-padding;
}
