@import "../../../styles.scss";

.page-header {
  margin-bottom: 20px;

  .title-and-rate {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title-container {

      .title {
        font-size: 25px;
        margin: 0 0 5px 0;
      }

      .sub-title {
        font-size: 20px;
        margin: 0 0 5px 0;
      }

      .description {
        margin: 0;
      }


    }

    .rate-container {
      display: flex;
      gap: 10px;
    }
  }

  .control {
  }
}
