@import "../../../styles.scss";

.page-header {
  margin-bottom: 20px;

  .title-and-rate {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title-container {

      .title {
        font-size: 25px;
        margin: 0 0 5px 0;
      }

      .sub-title {
        font-size: 20px;
        margin: 0 0 5px 0;
      }

      .description {
        margin: 0;
      }


    }

    .rate-container {
      display: flex;
      gap: 10px;
    }
  }

  .control {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    button{
      display: flex;
      gap: 10px;
      align-items: center;
      position: relative;
      border-radius: 5px;
      background-color: transparent;
      cursor: pointer;

      p {
        margin: 0;
      }
    }
  }
}
