<div class="page-header">
  <div class="title-and-rate flex-lang">
    <div class="rate-container">
      <app-card-rate [card]="{rate: rate, fans: fans}" [disableHover]="true"></app-card-rate>
      <app-rate-details [rateDeTails]="rateDeTails"></app-rate-details>
    </div>
    <div class="title-container">
      <h2 class="title text-align-lang primary-text">{{title}}</h2>
      <p class="sub-title text-align-lang secondary-text">{{subTitle}}</p>
      <p class="description text-align-lang secondary-text">{{description | textTrim:150}}</p>
    </div>
  </div>
  <div class="control">
  </div>
</div>
