<nav>
  <span class="log_container">
    <span class="logo">
      <fa-icon [icon]="faBurst"></fa-icon>
    </span>
    <h1>Our  Site Name</h1>
  </span>
  <span class="search_container">
    <input type="text" class="search-input" placeholder="Search">
    <fa-icon class="icon" [icon]="faMagnifyingGlass"></fa-icon>
    <select class="optionSelect" id="cars" name="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="fiat">Fiat</option>
      <option value="audi">Audi</option>
    </select>
  </span>
  <span class="icon_container">
    <fa-icon class="icon" [icon]="faBell"></fa-icon>
    <fa-icon class="icon" [icon]="faMoon"></fa-icon>
    <fa-icon class="icon" [icon]="faUser"></fa-icon>
  </span>
</nav>
