@import "../../styles";

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $page-padding;
  padding-right: $page-padding;
  box-sizing: border-box;
  border-bottom: solid 1px $color6;

  .log_container {
    display: flex;
    align-items: center;

    .logo {
        font-size: 30px;
        cursor: pointer;
    }

    h1 {
      margin: 0 10px;
      font-family: $site-name-font;
    }
  }

  .search_container {
    border: $input-border-light-mode;
    border-radius: $input-border-radius;
    background-color: $color1;
    position: relative;
    display: flex;

    .search-input {
      color: $color6;
      padding: $input-padding;
      border: none;
      width: 220px;
      font-size: 18px;
    }

    .search-input::placeholder {
      color: $color6;
      font-size: 18px;
    }

    .search-input:focus {
      border: none;
      outline: none;
      caret-color: $color6;
    }

    .icon {
      padding: $input-padding;
      border-left: $input-border-light-mode;
      border-right: $input-border-light-mode;
      cursor: pointer;
    }

    .optionSelect {
      cursor: pointer;
      padding: $input-padding;
      border: none;
      width: 130px;
      font-size: 18px;
      text-align: end;
    }

    .option_container {
      position: absolute;
      top: 100%;
      background: $color1;
      border-radius: 8px;
      box-shadow: 0 0 8px 0 $color6;
      overflow: hidden;

      .option {
        text-align: center;
        border-bottom: 1px solid;
        width: 140px;
        padding: 10px;
        cursor: pointer;
      }

      .option:last-child {
        border: none;
      }

      .option:hover {
        font-size: 18px;
        background-color: $color5;
        color: $color1;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .search_container {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0%);
      min-width: 400px;
    }
    .search_container.active {
      display: flex;
    }
  }

  .icon_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 173px;

    .icon {
      font-size: 25px;
      cursor: pointer;
    }

    @media screen and (min-width: 900px) {
      .icon.small-screen {
        display: none;
      }
    }
  }

  .user-popup {
    position: absolute;
    top: 100%;
    background: $color1;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 $color6;

    .link {
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: row-reverse;
      border-bottom: 1px solid;
      width: 140px;
      padding: 10px;
      cursor: pointer;

      p {
        margin: 0 10px 0 0;
      }

      .icon {
        font-size: 18px;
      }
    }

    .link:last-child {
      border: none;
    }

    .link:hover .icon{
      font-size: 25px;
    }
  }

  .language-popup {
    position: absolute;
    top: 100%;
    background: $color1;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 $color6;
    overflow: hidden;

    .language {
        text-align: center;
        border-bottom: 1px solid;
        width: 100px;
        padding: 5px;
        cursor: pointer;
    }

    .language:last-child {
      border: none;
    }

    .language:hover {
      font-size: 18px;
      background-color: $color5;
      color: $color1;
    }
  }

  .language-container {
    position: relative;
  }

  .user-container {
    position: relative;
  }
}
