<nav class="primary-back-ground">
  <span class="log_container" routerLink="/">
    <span class="logo primary-text">
      <fa-icon [icon]="faBurst"></fa-icon>
    </span>
    <h1 class="primary-text">Our  Site Name</h1>
  </span>
  <span class="search_container" [class.active]="isToggleOn">
    <input type="text" class="search-input" placeholder="Search">
    <fa-icon class="icon tertiary-text" [icon]="faMagnifyingGlass"></fa-icon>
    <select class="optionSelect" id="cars" name="cars">
      <option value="volvo">الجامعات</option>
      <option value="saab">التخصصات</option>
      <option value="fiat">الدورات و المصادر</option>
      <option value="audi">المواد الدراسية</option>
      <option value="audi">مجالات العمل</option>
    </select>
  </span>
  <span class="icon_container">
    <fa-icon class="icon small-screen primary-text" [icon]="faMagnifyingGlass" (click)="toggleSearch()"></fa-icon>
    <fa-icon class="icon primary-text" [icon]="faBell"></fa-icon>
    <fa-icon class="icon primary-text" [icon]="faMoon" *ngIf="CurrentTheme == 'theme-light'" (click)="changeTheme()"></fa-icon>
    <fa-icon class="icon primary-text" [icon]="faSun" *ngIf="CurrentTheme == 'theme-dark'" (click)="changeTheme()"></fa-icon>
    <fa-icon class="icon primary-text" [icon]="faUser" (click)="toggleUserPopup()"></fa-icon>
  </span>
  <div class="user-popup" *ngIf="showUserPopup">
    <div class="link" *ngIf="isLogin">
      <fa-icon class="icon" [icon]="faUser"></fa-icon>
      <p>الصفحة الشخصية</p>
    </div>
    <div class="link" *ngIf="isLogin">
      <fa-icon class="icon" [icon]="faRightFromBracket"></fa-icon>
      <p>تسجيل الخروج</p>
    </div>
    <div class="link" *ngIf="!isLogin">
      <fa-icon class="icon" [icon]="faRightToBracket"></fa-icon>
      <p>تسجيل الدخول</p>
    </div>
    <div class="link" *ngIf="!isLogin">
      <fa-icon class="icon" [icon]="faPenToSquare"></fa-icon>
      <p>إنشاء حساب</p>
    </div>
    <div class="link" *ngIf="isLogin && isAdmin">
      <fa-icon class="icon" [icon]="faGear"></fa-icon>
      <p>الإعدادات و التحكم</p>
    </div>
  </div>
</nav>
