<div class="cards-row card-lang">
  <div *ngFor="let card of cards" class="card_container">
    <div class="card-header table-body">
      <div *ngIf="card.textTop" class="top-text table-body secondary-text">{{card.textTop}}</div>
      <div *ngIf="card.textBottom" class="bottom-text table-body secondary-text">{{card.textBottom}}</div>
      <img [src]="'./../../../assets/image/' + card.image" alt="image">
    </div>
    <div class="card-body table-body">
      <h4 class="title primary-text text-align-lang">{{card.title | textTrim: 30}}</h4>
      <h5 class="sub-title secondary-text text-align-lang">{{card.subTitle | textTrim: 30}}</h5>
      <h6 *ngIf="card.extraText" class="extra-text tertiary-text text-align-lang">{{card.extraText | textTrim: 30}}</h6>
      <div class="rate-and-like-container">
        <app-card-rate [card]="card"></app-card-rate>
        <div class="like">
          <fa-icon class="icon not-active" [icon]="faHeart"
            [ngClass]="{ 'active': card.is_liked, 'not-active': !card.is_liked }"
          ></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>

