/* You can add global styles to this file, and also import other style files */
// ---- google font ----
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

body {
  margin: 0;
}

// ---- main variables ----
$color1: #ffffff;
$color2: #E4E4E6;
$color3: #CBCAD0;
$color4: #8E8AA5;
$color5: #444152;
$color6: #000000;

$colorGreen: greenyellow;

$site-name-font: 'Hind', sans-serif;

// z index
$navZIndex: 100;
$overlayZIndex: 200;
$popupZIndex: 300;

// page
$page-padding: 50px;

// input fields
$input-border-light-mode: solid 2px $color2;
$input-padding: 5px;
$input-border-radius: 4px;
$input-icon-color: $color3;

// ---- main style ----
.theme-light {
  padding: 0;
  margin: 0;
  // text
  .primary-text {
    color: #000000;
  }
  .secondary-text {
    color: #444152;
    &::placeholder {
      color: #444152;
    }
  }
  .tertiary-text {
    color: #8E8AA5;
  }
  // back ground
  .primary-back-ground {
    background-color: #ffff;
  }
  .secondary-back-ground {
    background-color: #e4e4e65d;
  }
  .table-head {
    background-color: $color5;
    color: $color1;
  }
  .table-body {
    background-color: $color1;
    color: $color5;
  }
  // border
  .secondary-border {
    border-color: $color4 !important;
  }
}

.theme-dark {
  padding: 0;
  margin: 0;
  // text
  .primary-text {
    color: #ffff;
  }
  .secondary-text {
    color: #E4E4E6;
    &::placeholder {
      color: #E4E4E6;
    }
  }
  .tertiary-text {
    color: #CBCAD0;
  }
  // back ground
  .primary-back-ground {
    background-color: #000000;
  }
  .secondary-back-ground {
    background-color: #8E8AA5;
  }
  .table-head {
    background-color: $color6;
    color: $color1;
  }
  .table-body {
    background-color: $color5;
    color: #E4E4E6;
  }
  // border
  .secondary-border {
    border-color: $color3 !important;
  }
}

.arabic-lang {
  padding: 0;
  margin: 0;

  .flex-lang {
    flex-direction: row;
  }

  .justify-content-lang {
    justify-content: end;
  }

  .text-align-lang {
    text-align: end !important;
  }

  .table-lang {
    direction: rtl;

      th,
      td {
        text-align: center;
        border-left: 1px solid $color6;
        border-bottom: 1px solid $color6;
      }


      th:first-of-type,
      td:first-of-type {
        border-right: 1px solid $color6;
      }

      tr:first-of-type th {
        border-top: 1px solid $color6;
      }
  }

  .card-lang {
    flex-direction: row-reverse;

      .top-text {
        left: unset;
        right: 0;
      }

      .bottom-text {
        left: unset;
        right: 0;
      }
  }
}

.english-lang {
  padding: 0;
  margin: 0;

  .flex-lang {
    flex-direction: row-reverse;
  }

  .justify-content-lang {
    justify-content: start;
  }

  .text-align-lang {
    text-align: start !important;
  }

  .table-lang {
    direction: ltr;

      th,
      td {
        text-align: center;
        border-left: 1px solid $color6;
        border-bottom: 1px solid $color6;
      }


      th:last-of-type,
      td:last-of-type {
        border-right: 1px solid $color6;
      }

      tr:first-of-type th {
        border-top: 1px solid $color6;
      }
  }

  .card-lang {
    flex-direction: row;

    .top-text {
      left: 0;
      right: unset;
    }

    .bottom-text {
      left: 0;
      right: unset;
    }
  }
}

.pages-container {
  height: fit-content;
  min-height: 100vh;
  margin: 0;
  margin-top: 70px;
  padding-top: 20px;
  padding-left: $page-padding;
  padding-right: $page-padding;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $overlayZIndex;
}
