/* You can add global styles to this file, and also import other style files */
// ---- google font ----
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

// ---- main variables ----
$color1: #ffffff;
$color2: #E4E4E6;
$color3: #CBCAD0;
$color4: #8E8AA5;
$color5: #444152;
$color6: #000000;

$site-name-font: 'Hind', sans-serif;

// page
$page-padding: 50px;

// input fields
$input-border-light-mode: solid 2px $color2;
$input-padding: 5px;
$input-border-radius: 4px;
$input-icon-color: $color3;

// ---- main style ----
.theme-light {
  // text
  .primary-text {
    color: #000000;
  }
  .secondary-text {
    color: #444152;
  }
  .tertiary-text {
    color: #8E8AA5;
  }
  // back ground
  .primary-back-ground {
    background-color: #ffff;
  }
  .secondary-back-ground {
    background-color: #E4E4E6;
  }
  .tertiary-back-ground {
    background-color: #CBCAD0;
  }
}

.theme-dark {
  // text
  .primary-text {
    color: #ffff;
  }
  .secondary-text {
    color: #E4E4E6;
  }
  .tertiary-text {
    color: #CBCAD0;
  }
  // back ground
  .primary-back-ground {
    background-color: #000000;
  }
  .secondary-back-ground {
    background-color: #444152;
  }
  .tertiary-back-ground {
    background-color: #8E8AA5;
  }
}
