.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filters {
    width: 100%;
  }

  .view-control {
    width: fit-content;
    display: flex;

    .icon {
      padding: 5px 5px 0 5px;
      margin: 0 5px;
      font-size: 20px;
      border-radius: 50%;
      background-color: aqua;

      &.active {
      }

      &.not-active {
      }

      &:hover {
      }
    }
  }
}
