<div class="filters-container">
  <div class="view-control">
    <div class="icon-container" [id]="'table'" [ngClass]="{'active primary-back-ground': isTable}" (click)="toggleViewMode($event)">
      <fa-icon class="icon" [icon]="faTableColumns"></fa-icon>
    </div>
    <div class="icon-container" [id]="'card'" [ngClass]="{'active primary-back-ground': !isTable}" (click)="toggleViewMode($event)">
      <fa-icon class="icon" [icon]="faImage"></fa-icon>
    </div>
  </div>
  <div class="filters">
  </div>
</div>
