@import "../../../styles.scss";

.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filters {
    width: 100%;
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      width: 100%;
      align-items: center;
      gap: 50px;
      margin-bottom: 10px;

      .filter_container {
        display: flex;
        gap: 2px;
        align-items: center;
        position: relative;

        .option_field {
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 5px;
          padding: 5px;
          border: 1px solid;
          min-width: 130px;
          cursor: pointer;

          .icon {
          }

          p {
            margin: 0;
          }
        }


        .selected_option {
        }

        .filter_options {
          position: absolute;
          top: 100%;
          background: $color1;
          border-radius: 8px;
          box-shadow: 0 0 8px 0 $color6;
          overflow: hidden;
          z-index: $popupZIndex;

          .option {
            text-align: center;
            border-bottom: 1px solid;
            width: 140px;
            padding: 10px;
            cursor: pointer;
            margin: 0;
          }

          .option:last-child {
            border: none;
          }

          .option:hover {
            font-size: 18px;
            background-color: $color5;
            color: $color1;
          }
        }
      }

      .search-here {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid;
        min-width: 130px;
        cursor: pointer;

        input {
          background-color: transparent;
          border: none;
          font-size: 14px;

          &:focus {
            outline: none;
          }
        }

        .icon {
        }
      }

    }
  }

  .view-control {
    width: fit-content;
    display: flex;

    .icon-container {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin: 0 5px;
      border-radius: 50%;
      background-color: unset;
      transition: 0.7s;
      cursor: pointer;

      &.active {
        box-shadow:  2px 2px 5px $color5;
      }

      &:hover {
        box-shadow:  2px 2px 5px $color5;
      }

      .icon {
        font-size: 20px;
      }
    }
  }
}
