@import "../../../styles.scss";

.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filters {
    width: 100%;
  }

  .view-control {
    width: fit-content;
    display: flex;

    .icon-container {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin: 0 5px;
      border-radius: 50%;
      background-color: unset;
      transition: 0.7s;
      cursor: pointer;

      &.active {
        box-shadow:  2px 2px 5px $color5;
      }

      &:hover {
        box-shadow:  2px 2px 5px $color5;
      }

      .icon {
        font-size: 20px;


      }
    }
  }
}
